/* `otf-font-awesome` is required to be installed for icons */
@define-color default-border-color wheat;
@define-color default-color black;
@define-color default-color-light whitesmoke;

@define-color default-background-color #242424;


@define-color tray-top-border-color #ef5c5c;
@define-color tray-left-border-color #ef5c5c;
@define-color tray-bottom-border-color #add8e6;
@define-color tray-right-border-color #add8e6;

@define-color sys-top-border-color @tray-top-border-color;
@define-color sys-left-border-color @tray-left-border-color;
@define-color sys-bottom-border-color @tray-bottom-border-color;
@define-color sys-right-border-color @tray-right-border-color;




* {
	min-height: 0;
	font-size: 10px;
	font-family: JetBrains Mono Font, Awesome, Roboto, Helvetica, Arial, sans-serif;
}


/* set defualt styles */
#battery,
#clock,
#custom-wlsunset,
#pulseaudio,
#temperature,
#tray,
#custom-notification,
#backlight,
#disk,
#custom-bluetooth,
#custom-power,
#custom-swaync,
#keyboard-state,
#language,
#workspaces button {
	padding: 0;
	border: 1px solid @default-border-color;
	margin: 0px;
	color: @default-color;
	background-color: @default-background-color;
	min-width:40px;
}




#tray,
#workspaces button {
	min-width: 1px;
	border-radius: 5px;
	background-color: @default-background-color;
	color: @default-color;
}
#workspaces button {
	min-width: 18px;
}





#custom-wlsunset,
#custom-power,
#clock,
#language,
#pulseaudio,
#keyboard-state {
	padding: 0 4px;
	color: @default-color;
	background-color: @default-background-color;
	border-color: @default-border-color;
}






window#waybar {
	background-color: inherit;
	/*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
	color: #aaaaaa;
	transition-property: background-color;
	transition-duration: .2s;
}

window#waybar.hidden {
	opacity: 0.2;
}


window#waybar.empty {
	background-color: transparent;
}
window#waybar.solo {
	background-color: transparent;
}

window#waybar.termite {
	background-color: transparent
}


button {
	/* Use box-shadow instead of border so the text isn't offset */
	box-shadow: inset 0 -3px transparent;
	/* Avoid rounded borders under each button name */
	border: none;
	border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
	background: inherit;
	box-shadow: inset 0 -3px white;
}

/* you can set a style on hover for any module like this */
#workspaces button:hover {
	background-color: #773333;
	box-shadow: inherit;
	text-shadow: inherit;
	border-color: #5f5;
	color: @default-color;
}
#workspaces button {
	padding: 0 1px;
	background-color: transparent;
	color: white;
	border-color: #55ff55;
}

#workspaces button.focused {
	color: @default-color;
	background-color: #773333;
	border-color: #ff5555;
}

#workspaces button.activated {
	background-color: blue;
}
#workspaces button.urgent {
	background-color: #772222;
	border-color: #f55
}

#mode {
	background-color: #64727D;
	box-shadow: inset 0 -3px white;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

#battery {
	min-width: 44px;
	background-color: #8195c9;
	color: @default-color
}

#battery.charging, #battery.plugged {
	color: white;
	background-color: #26A65B;
}

@keyframes blink {
	to {
		background-color: white;
		color: @default-color
	}
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: white;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#power-profiles-daemon {
	padding-right: 15px;
}

#power-profiles-daemon.performance {
	background-color: #f53c3c;
	color: white;
}

#power-profiles-daemon.balanced {
	background-color: #2980b9;
	color: white;
}

#power-profiles-daemon.power-saver {
	background-color: #2ecc71;
	color: @default-color
}

label:focus {
	background-color: #000000;
}





#network,
#memory,
#cpu{
	border-top: 2px solid @sys-top-border-color;
	border-bottom: 2px solid @sys-bottom-border-color;
	padding-left:2px;
	padding-right:2px;
	color: #111;
}
#cpu,
#memory{
	min-width:40px;
}


#cpu {
	background-color: #2ecc71;
}

#memory {
	min-width: 110px;
	background-color: #B99CDC;
	border-right: 2px solid @sys-right-border-color;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-right: 5px;
}


#network {
	background-color: #74C7EC;
	border-left: 2px solid @sys-left-border-color;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-left: 4px;
	padding-right: 8px;
}
#network.disconnected {
	background-color: #773333;
}




#backlight {
	background-color: #90b1b1;
	min-width: 44px;
}
#custom-media {
	background-color: #66cc99;
	color: #2a5c45;
	min-width: 100px;
}

#custom-media.custom-vlc {
	background-color: #ffa000;
}

#temperature {
	min-width: 44px;
	background-color: #f0932b;
}

#temperature.critical {
	background-color: #eb4d4b;
}

#tray {
	margin-right: 5px;
	margin-left: 5px;
	padding: 0 4px;

	background-color: @default-background-color;
	border-radius: 5px;
	color: @default-color-light;

	border-top: 1px solid @tray-top-border-color;
	border-left: 1px solid @tray-left-border-color;

	border-bottom: 1px solid @tray-bottom-border-color;
	border-right: 1px solid @tray-right-border-color;
	border-width: 2px;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: crimson;
}


#keyboard-state *{
	font-size: 5px;
	padding: 0;
}

#keyboard-state > label {
	padding: 0px;
}

#keyboard-state > label.locked {
	background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
	background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
	padding: 0;
}

#privacy-item {
	padding: 0 5px;
	color: white;
}

#privacy-item.screenshare {
	background-color: #cf5700;
}

#privacy-item.audio-in {
	background-color: #1ca000;
}

#privacy-item.audio-out {
	background-color: #0069d4;
}








/* styles of right modules */
#custom-wlsunset {
	margin-left: 5px;
	margin-right: 0;
	color: @default-color-light;
	padding: 0 4px;
	min-width: 1px;
}


#custom-swaync {
	padding-right: 2px;
	min-width: 20px;
	font-weight: bold;
	color: @default-color-light
}


#custom-bluetooth {
	color: @default-color-light;
	padding: 0 4px;
	min-width: 12px;
}


#pulseaudio:hover {
	background-color: #a37800;
}
#pulseaudio {
	min-width: 90px;
	background-color: #f1c40f;
}
#pulseaudio.muted {
	background-color: #90b1b1;
	color: #2a5c45;
}


#language {
	background: #00b093;
	color: #740864;
	min-width: 16px;
}


#clock{
	background-color: #5d5d5d;
	min-width: 100px;
	color: whitesmoke;
}


#custom-power{
	background-color: crimson;
	color: whitesmoke;
	min-width: 12px;
}


#keyboard-state{
	font-size: 2px;
	padding: 0;
	min-width: 1px;
	color: wheat;
}















